body{
    height: auto;
    display:flex ;
    justify-content: center;
    background-color: aliceblue;
    font-family: cursive;
}
.container{
   background-color:#ffe6f1;
   width: 900px;
   padding: 35px;

}
.head-box{
   padding: 20px;
   background-color: aliceblue;
   text-align: center;
   color:#011f59;
   border-radius: 10px;
}
h1{
    font-size: 60px;
    margin: 10px;
    color:#011f59;
}
button{
    width: 120px;
    height: 40px;
    color:#011f59;
    font-size: 13px;
    background-color: #fcbcd8;
    border-radius: 15px;
    font-family: cursive;
    border-color: rgba(251, 169, 224, 0.293);
    cursor: pointer;
}
button:hover{
    font-size: 14px;
}
.content{
    border-radius: 10px;
    background-color: #fdcee2;
}
ol{
    margin:25px
}
ul{
    margin: 25px 15px;
}
li{
    padding: 6px;
    color: #011f59;
}